.usermain{
    background-color: rgb(232, 240, 242);
    height: 600px;
    width: 40%;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 10%;
    left: 30%;
    border-radius: 25px;
    border: 1px solid rgb(119, 0, 255);

}
.usernav{
    background-color:rgb(119, 0, 255);
    display: flex;
    justify-content:space-around;
    align-items: center;
    height: 50px;
    border-radius: 25px;
    border: 2px s
}
.question{
    left: 10px;
}
.username{
    margin-left: 5px;
}